<header class="header">
  <div class="container header__wrapper">
    <a href="./#hero" class="logo">FRACTAL_IX</a>

    <nav class="nav">
      <ul class="nav__list">
        <li><a href="./#hero" class="nav__link">START</a></li>
        <li><a href="./#about" class="nav__link">DATA</a></li>
        <li><a href="./#income" class="nav__link">EARN</a></li>
        <li><a href="./#innovations" class="nav__link">LAB</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="btn btn--header-action">СВЯЗАТЬСЯ</a>

      <button class="burger" id="burger-menu" aria-label="Открыть меню">
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
<div class="mobile-menu" id="mobile-menu">
  <nav class="mobile-menu__nav">
    <a href="./#hero" class="mobile-menu__link">START</a>
    <a href="./#about" class="mobile-menu__link">DATA</a>
    <a href="./#income" class="mobile-menu__link">EARN</a>
    <a href="./#innovations" class="mobile-menu__link">LAB</a>
    <a href="./#contact" class="btn btn--primary">СВЯЗАТЬСЯ</a>
  </nav>
</div>